<section class="theme {{ theme }}">
  <div class="custom-toolbar">
    <section>
      <button
        kendoButton
        [svgIcon]="menuSvg"
        fillMode="flat"
        (click)="drawer.toggle()"
      >
        .
      </button>
      <span class="mail-box">IQ Dynamics</span>
    </section>
    <section>
      <button mat-button [matMenuTriggerFor]="menu">
        <img alt="Profile Picture" src="../assets/profile.jpg" class="profile-pic"/>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Change Password</button>
        <button mat-menu-item (click)="ShowThemeChangePopup()">Change Theme</button>
        <button mat-menu-item>Sign Out</button>
      </mat-menu>
    </section>
  </div>
  <kendo-drawer-container>
    <kendo-drawer
      #drawer
      [items]="items"
      mode="push"
      [mini]="true"
      [expanded]="true"
      (select)="onSelect($event)"
    >
    </kendo-drawer>

    <kendo-drawer-content>
      <div id="Inbox" *ngIf="selectedItem === 'Inbox'">
        <ul class="inboxList">
          <li>
            <h6>Monday meeting</h6>
            <p>
              Hi Tom, Since Monday I'll be out of office, I'm rescheduling the
              meeting for Tuesday.
            </p>
          </li>
          <li>
            <h6>I'm sorry, Tom</h6>
            <p>
              Hi Tom, my aunt comes for a visit this Saturday, so I can't come
              back to St. Pete...
            </p>
          </li>
        </ul>
      </div>
      <div id="Notifications" *ngIf="selectedItem === 'Notifications'">
        <ul>
          <li>Monday meeting</li>
          <li>Regarding org chart changes</li>
          <li>Meeting with Cliff</li>
          <li>Global Marketing Meeting</li>
          <li>Out tonight with collegues?</li>
        </ul>
      </div>
      <div id="Calendar" *ngIf="selectedItem === 'Calendar'">
        <ul>
          <li>
            <h6>11/5 Monday</h6>
            <p>Martha Birthday</p>
          </li>
          <li>
            <h6>15/6 Sunday</h6>
            <p>Job interview for internal position</p>
          </li>
        </ul>
      </div>
      <div id="Attachments" *ngIf="selectedItem === 'Attachments'">
        <ul>
          <li>Build enterprise apps</li>
          <li>Fw: Regarding Multiline textbox</li>
          <li>Away next week</li>
          <li>Fw: Your Costume is ready</li>
          <li>Update completed</li>
        </ul>
      </div>
      <div id="Favourites" *ngIf="selectedItem === 'Favourites'">
        <ul>
          <li>70% Discount!</li>
          <li>90% Discount!</li>
          <li>One time offer!</li>
        </ul>
      </div>
    </kendo-drawer-content>
    <section class="w-100 border">
      <kendo-grid [data]="gridData" class="">
        <kendo-grid-column field="ProductID" title="ID"> </kendo-grid-column>
        <kendo-grid-column field="ProductName" title="Name">
        </kendo-grid-column>
        <kendo-grid-column field="Category.CategoryName" title="Category">
        </kendo-grid-column>
        <kendo-grid-column field="UnitPrice" title="Price"> </kendo-grid-column>
      </kendo-grid>
      <section class="px-5 my-4">
        <kendo-label text="Kendo Switch">
          &nbsp;
          <kendo-switch></kendo-switch>
        </kendo-label>
        <div class="d-flex flex-column gap-3" style="min-height: 400px">
          <kendo-label text="AutoComplete">
            <br />
            <kendo-autocomplete
              [data]="listItems"
              placeholder="Your favorite sport"
            >
            </kendo-autocomplete>
          </kendo-label>

          <kendo-label text="ComboBox">
            <br />
            <kendo-combobox [data]="listItems" value="Basketball">
            </kendo-combobox>
          </kendo-label>

          <kendo-label text="DropDownList">
            <br />
            <kendo-dropdownlist [data]="listItems" value="Basketball">
            </kendo-dropdownlist>
          </kendo-label>

          <kendo-label text="DropDownTree">
            <br />
            <kendo-dropdowntree
              kendoDropDownTreeExpandable
              [kendoDropDownTreeHierarchyBinding]="treeItems"
              textField="text"
              valueField="id"
              childrenField="items"
              [value]="complexValue"
              [popupSettings]="{
                width: '230px'
              }"
              [expandedKeys]="['1']"
            ></kendo-dropdowntree>
          </kendo-label>

          <kendo-label text="MultiColumnComboBox">
            <br />
            <kendo-multicolumncombobox
              [data]="gridData"
              textField="name"
              valueField="id"
              placeholder="Select an employee"
            >
              <kendo-combobox-column field="name" title="Name" [width]="200">
              </kendo-combobox-column>
              <kendo-combobox-column
                field="title"
                title="Title"
                [width]="200"
              >
              </kendo-combobox-column>
              <kendo-combobox-column
                field="phone"
                title="Phone"
                [width]="200"
              >
              </kendo-combobox-column>
            </kendo-multicolumncombobox>
          </kendo-label>

          <kendo-label text="MultiSelect">
            <br />
            <kendo-multiselect
              [data]="listItems"
              [value]="value"
              placeholder="Your favorite sports"
            ></kendo-multiselect>
          </kendo-label>

          <kendo-label text="MultiSelectTree">
            <br />
            <kendo-multiselecttree
              kendoMultiSelectTreeExpandable
              [kendoMultiSelectTreeHierarchyBinding]="treeItems"
              textField="text"
              valueField="id"
              childrenField="items"
              [expandedKeys]="['0']"
              [(value)]="complexArrayValue"
            >
            </kendo-multiselecttree>
          </kendo-label>
        </div>
      </section>
    </section>
  </kendo-drawer-container>
</section>



<kendo-dialog
      title="Change Theme"
      *ngIf="opened"
      (close)="close('cancel')"
      [minWidth]="250"
      [width]="450"
    >
      <section class="d-flex justify-content-evenly">
      <section class="cursor-pointer" (click)="ChangeTheme('default')">
        <section class="p-5 bg-default rounded text-danger">.</section>
        <section class="text-center">Default Theme</section>
      </section>
       <section class="cursor-pointer"  (click)="ChangeTheme('material')">
        <section class="p-5 bg-material rounded text-dark">.</section>
        <section class="text-center">Material Dark Theme</section>
       </section>
      <section class="cursor-pointer"  (click)="ChangeTheme('bootstrap')">
        <section class="p-5 bg-bootstrap rounded text-dark">.</section>
        <section class="text-center">Bootstrap Theme</section>
      </section>
      </section>
      <kendo-dialog-actions>
        <button kendoButton (click)="close('yes')">Close</button>
      </kendo-dialog-actions>
    </kendo-dialog>